.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.container_login {
  text-align: left;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px gray;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 40px;
}

.form{
  margin: 10px;
}

.input_field {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login_button{
  background-color: #007BFF;
  color: white;
  font-size: 14px;
  width: 100%;
  height:50px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.login_button:hover{
  background-color: darkblue;
}

.error_messages{
  color:red;
}

.container_predictor{
  text-align: left;
  max-width: 600px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 1px lightgray;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 40px;
}

.predictor_button{
  background-color: #007BFF;
  color: white;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 24px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  height:50px;
}

.predictor_button:hover{
  background-color: darkblue;
}
.prediction_result{
  margin-top: 16px;
  background-color: #DFF0D8;
  border: 1px solid #3C763D;
  padding: 12px;
  border-radius: 4px;
  font-weight: bold;
}